<div>
    <div id="explanationDiv">
        <br/>
            {{sliderValue|explanation}}
        <br/>
    </div>
    <div>
        <input type="range" name="slider" id="slider" ng-model="sliderValue" value="0" min="0" max="4">
    </div>

    <div align="center" id="tab" class="center">
        <table width="100%" border="0">

            <tr id="n"> 
                <td height="30" colspan="3" align="center" valign="middle" nowrap="nowrap">
                    |
                </td>
                <td height="30" colspan="3" align="center" valign="middle" nowrap="nowrap">
                    |
                </td>
                <td height="30" colspan="3" align="center" valign="middle" nowrap="nowrap">
                    |
                </td>
                <td height="30" colspan="3" align="center" valign="middle" nowrap="nowrap">
                    |
                </td>
                <td height="30" colspan="3" align="center" valign="middle" nowrap="nowrap">
                    |
                </td>
            </tr>
        </table>	
    </div>
</div>